<section class="first odd">

  <h1> Find Me On The Web </h1>
  <ul>
	  <li><a href="https://github.com/{{site.github_user}}">{{site.github_user}}</a> on GitHub       
  <script src="{{ root_url }}/javascripts/github.js" type="text/javascript"> </script>
  </li> 
   <li>
  <a href="http://www.twitter.com/ben336">ben336</a> on Twitter
  </li>
  <li>
  	<a href="https://plus.google.com/111792467009483362067?rel=author">Google+</a>
  </li>
   <li>
  <a href="http://careers.stackoverflow.com/ben336 ">Resume</a> 
  </li>
  </ul>
  <a href="http://stackoverflow.com/users/1424361/ben336">
	<img src="http://stackoverflow.com/users/flair/1424361.png" width="208" height="58" alt="profile for ben336 at Stack Overflow, Q&amp;A for professional and enthusiast programmers" title="profile for ben336 at Stack Overflow, Q&amp;A for professional and enthusiast programmers" style="display:block; float:left;">
</a>

</section>

